body {
  margin: 0;
}

.hero {
  position: relative;
}

.hero .videoBackground {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.hero .overlay_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navbar */
.hero .overlay_navbar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

#navbar_blocoEsq {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#down_arrow_img {
  width: 12px;
}

#btn_down_arrow {
  background-color: rgba(255, 255, 255, 0.20);
  border: 0;
  border-radius: 18px;
  height: 34px;
  width: 34px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#btn_down_arrow:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

#assinatura {
  width: auto;
  height: 75%;
}

#btn_sessao {
  color: white;
  background-color: rgba(255, 255, 255, 0.20);
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  height: 40px;
  margin-right: 20px;
  transition: all 0.4s ease-in-out;
}

#btn_sessao:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

.hero .overlay_conteudo {
  width: 90%;
  height: 90%;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

/* Conteúdo no body */
.conteudo {
  background-image: linear-gradient(
    to bottom right,
    rgb(56, 56, 56),
    rgb(218, 218, 218)
  );
  width: 100%;
  height: 500px;
}
