html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
  border: 1px solid rgb(112, 112, 112);
}

body::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

body::-webkit-scrollbar-thumb:active{
  background-color: #575757;
}

.overlay_navbar {
  width: 100%;
  height: 10%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: -60px;
}

#navbar_blocoEsq {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#assinatura {
  width: auto;
  height: 75%;
  cursor: pointer;
  margin-left: 15px;
}

#btn_down_arrow {
  background-color: rgba(255, 255, 255, 0.20);
  border: 0;
  border-radius: 18px;
  height: 34px;
  width: 34px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#btn_down_arrow:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

#down_arrow_img {
  width: 12px;
}

.btn_navbar {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  font-size: 13px;
  border: 0;
  cursor: pointer;
  padding: 0 15px 0 15px;
  border-radius: 5px;
  height: 40px;
  margin-left: 6px;
  transition: all 0.4s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn_navbar:hover {
  border-bottom: 2px solid white;
  background-color: rgba(255, 255, 255, 0.1);
}

#btn_historia {
  margin-left: 20px;
}

#navbar_blocoDir {
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#btn_iniciar {
  margin-right: 6px;
}

#btn_juntar {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 13px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  height: 40px;
  transition: all 0.4s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn_juntar:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

#btn_sair {
  color: white;
  font-size: 13px;
  background-color: rgba(17, 17, 17, 0);
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  height: 40px;
  margin-right: 20px;
  margin-left: -14px;
  transition: all 0.4s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn_sair:hover {
  border-bottom: 2px solid white;
  background-color: rgba(255, 255, 255, 0.1);
}

#nome_session {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 25px;
  font-size: 13px;
  font-weight: 500;
  cursor: default;
}

.footer {
  height: auto;
  background-color: #111;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 8px;
}

.footer .container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: auto;
  padding: 18px 0;
}

.a_icones {
  background-color: #363636;
  padding: 7px 7px 4px 7px;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}

.a_icones:hover {
  background-color: #525252;
}

.icones {
  width: 16px;
  margin-top: -3px;
}

.footer .container2 {
  height: auto;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0 20px;
}

#assinatura_footer {
  height: 45px;
  width: auto;
}

.footer .container3 {
  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#texto1_footer {
  color: #7E7E7E;
  font-size: 13px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer .container4 {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 28px 0;
}

.texto2_footer {
  color: white;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: all 0.4s ease-in-out;
}

.texto2_footer:hover {
  background-color: #363636;
  text-decoration: none;
  color: white;
}